body {
  background-color: #ecf39e;
  font-family: sans-serif;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  height: 100px;
  margin-right: 50px;
}
nav ul li {
  height: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.2s;
}
nav ul li a {
  color: #31572c;
  text-decoration: none;
}
nav ul li a:hover {
  color: #90a955;
  scale: 1.1;
}
@media screen and (max-width: 600px) {
  nav ul {
    margin-right: 10px;
    justify-content: end;
  }
  nav ul li {
    margin: 10px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
  color: #31572c;
}
main div {
  width: 600px;
}
main div #perfil {
  width: 150px;
  height: 150px;
  background-image: url(/img/perfil.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
main div #contact {
  display: flex;
  justify-content: end;
  margin-top: 100px;
}
main div #contact a {
  text-decoration: none;
  margin: 10px;
  transition-duration: 0.3s;
}
main div #contact a:hover {
  scale: 1.2;
}
main div #contact a img {
  width: 40px;
  height: 40px;
}
main div #contact a:nth-of-type(3) {
  padding: 10px;
  color: #ecf39e;
  background-color: #31572c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  main div #contact {
    justify-content: center;
  }
}
main div h4 {
  color: #90a955;
}
main div h1 {
  font-size: 60px;
  color: #132a13;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  main div {
    text-align: center;
    width: auto;
  }
  main div #perfil {
    margin: auto;
  }
  main div h1 {
    font-size: 44px;
  }
}

#tech {
  margin-top: 350px;
}
#tech h2 {
  border: 1px solid red;
  text-align: center;
}
#tech div {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#tech div img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

#projects h2 {
  text-align: center;
  margin-top: 100px;
}

.project-card {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .project-card {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.project-card div {
  text-align: center;
}
.project-card div h2 {
  color: red;
  margin: 60px 0 50px 0;
}
.project-card div div {
  margin: 50px 0;
}
.project-card div div a {
  border: 1px solid black;
  text-decoration: none;
  color: red;
  padding: 10px;
  border-radius: 25px;
}
.project-card div:nth-of-type(2) {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 600px) {
  .project-card div:nth-of-type(2) {
    flex-direction: column;
  }
}
.project-card div:nth-of-type(2) img {
  width: 200px;
}
.project-card div:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .project-card div:nth-of-type(2) ul {
    flex-direction: row;
  }
}
.project-card div:nth-of-type(2) ul li {
  border: 1px solid green;
  margin: 5px;
  background-color: green;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 3px;
  width: 70px;
}/*# sourceMappingURL=styles.css.map */