body {
  background-color: #ecf39e;
  font-family: sans-serif;
}
nav {
  ul {
    display: flex;
    justify-content: end;
    list-style: none;
    // border: 1px solid red;
    height: 100px;
    margin-right: 50px;
    li {
      // border: 1px solid green;
      height: 50px;
      margin: 20px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      transition-duration: 0.2s;

      a {
        color: #31572c;
        text-decoration: none;
        &:hover {
          color: #90a955;
          scale: 1.1;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    ul {
      margin-right: 10px;
      justify-content: end;
      li{
        margin: 10px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
  color: #31572c;
  div {
    width: 600px;
    #perfil {
      width: 150px;
      height: 150px;

      background-image: url(/img/perfil.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    #contact {
      display: flex;
      justify-content: end;
      margin-top: 100px;
      a {
        text-decoration: none;
        margin: 10px;
        transition-duration: 0.3s;
        &:hover {
          scale: 1.2;
        }
        img {
          width: 40px;
          height: 40px;
        }
        &:nth-of-type(3) {
          // background-color: red;
          padding: 10px;
          // border: 1px solid black;
          color: #ecf39e;
          background-color: #31572c;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          font-weight: bold;
        }
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
    }
    h4 {
      color: #90a955;
    }
    h1 {
      font-size: 60px;
      color: #132a13;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 600px) {
    div {
      text-align: center;
      width: auto;
      #perfil {
        margin: auto;
      }
      h1 {
        font-size: 44px;
      }
    }
  }
}
#tech {
  margin-top: 350px;

  h2 {
    border: 1px solid red;
    text-align: center;
  }
  div {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      // background-color: red;
      width: 60px;
      height: 60px;
      margin: 0 20px;
    }
  }
}
#projects {
  h2 {
    text-align: center;
    margin-top: 100px;
  }
}
.project-card {
  // border: 1px solid blue;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;
  }
  div {
    text-align: center;
    h2 {
      color: red;
      margin: 60px 0 50px 0;
    }
    div {
      margin: 50px 0;
      a {
        border: 1px solid black;
        text-decoration: none;
        color: red;
        padding: 10px;
        border-radius: 25px;
      }
    }
  }
  div:nth-of-type(2) {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      // // justify-content: center;
      // align-items: center;
    }
    img {
      width: 200px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      list-style: none;
      padding: 0;
      @media screen and (max-width: 600px) {
        flex-direction: row;
        // // justify-content: center;
        // align-items: center;
      }

      //   @media screen and (max-width: 600px) {
      //     background-color: red;
      //     // flex-direction: row-reverse;
      //     // flex-direction: column-reverse;
      //     // justify-content: center;
      //     // align-items: center;
      //   }
      li {
        border: 1px solid green;
        margin: 5px;
        background-color: green;
        color: white;
        border-radius: 25px;
        text-align: center;
        padding: 3px;
        width: 70px;
        // margin: auto;
      }
    }
  }
  //   ul {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     margin: 0;
  //     list-style: none;
  //     @media screen and (max-width: 600px) {
  //         background-color: red;
  //         // flex-direction: row-reverse;
  //         // flex-direction: column-reverse;
  //         // justify-content: center;
  //         // align-items: center;
  //       }
  //     li {
  //       border: 1px solid green;
  //       margin: 5px;
  //       background-color: green;
  //       color: white;
  //       border-radius: 10%;
  //       text-align: center;
  //       padding: 3px;
  //     }
  //   }
}
