body {
  background-color: #ecf39e;
  font-family: sans-serif;
}
nav {
  ul {
    display: flex;
    justify-content: end;
    list-style: none;
    height: 100px;
    margin-right: 50px;
    li {
      height: 50px;
      margin: 20px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;

      a {
        color: #31572c;
        text-decoration: none;
        transition-duration: 0.3s;
        &:hover {
          color: #90a955;
          scale: 1.1;
          text-decoration: underline;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    ul {
      margin-right: 10px;
      justify-content: end;
      li {
        margin: 10px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
  color: #31572c;
  user-select: none;
  div {
    width: 600px;
    #perfil {
      width: 150px;
      height: 150px;
      background-image: url(/img/perfil.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    #contact {
      display: flex;
      justify-content: end;
      margin-top: 100px;
      a {
        text-decoration: none;
        margin: 10px;
        transition-duration: 0.3s;
        &:hover {
          scale: 1.2;
        }
        img {
          width: 40px;
          height: 40px;
        }
        &:nth-of-type(3) {
          padding: 10px;
          color: #ecf39e;
          background-color: #31572c;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          font-weight: bold;
        }
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
    }
    h4 {
      color: #90a955;
    }
    h1 {
      font-size: 60px;
      color: #132a13;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 600px) {
    div {
      text-align: center;
      width: auto;
      #perfil {
        margin: auto;
      }
      h1 {
        font-size: 44px;
      }
    }
  }
}
#tech {
  margin-top: 350px;

  h2 {
    // border: 1px solid red;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    color: #31572c;
  }
  div {
    // border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
    img {
      // background-color: red;
      width: 50px;
      height: 50px;
      margin: 20px 20px;
    }
  }
}
#projects {
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #31572c;
    font-size: 34px;
  }
}
.project-card {
  background-color: #f1f6b6;
  border-radius: 25px;

  margin: 30px 10px;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;

    align-items: center;
  }
  div {
    text-align: center;

    h3 {
      font-size: 18px;
      width: 400px;

      color: #90a955;
      @media screen and (max-width: 600px) {
        width: auto;
        text-align: center;
        font-size: 15px;
      }
    }
    div {
      margin: 50px 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: row;
        width: 200px;
        margin: 15px auto;

        padding: 10px;
        //  border: 1px solid blue;
        color: #ecf39e;
        background-color: #31572c;
        text-decoration: none;
        // justify-content: center;
        // align-items: center;
        border-radius: 25px;
        font-weight: bold;
        position: relative;
        transition-duration: 0.3s;
        &:hover {
          scale: 1.1;
          img {
            right: 15px;
            transform: rotate(30deg);
          }
        }
        img {
          position: absolute;
          right: 10px;
          width: 25px;
          height: 25px;
          transition-duration: 0.3s;
        }
      }
    }
  }
  div:nth-of-type(2) {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    img {
      width: 200px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      list-style: none;
      padding: 0;
      @media screen and (max-width: 600px) {
        flex-direction: row;
      }

      li {
        margin: 5px;

        color: white;
        border-radius: 25px;
        text-align: center;
        padding: 3px;
        img {
          width: 30px;
        }
      }
    }
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
